### Importing Libraries

In [23]:
#Declare all libraries and their uses here

import pandas as pd # dataframe analysis, creation of dataframe, label encoding
# import matplotlib.pyplot as plt # data visualisation
# import seaborn as sns # data visualisation

# import numpy as np 
# import statmodels.api as sm

from sklearn import preprocessing

### Loading Dataset

In [41]:
df = pd.read_csv('train.csv')

### Studying the data

Viewing data types and non-null counts of each column of the data

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s54     2628 non-null   object
 12  s55     3206 non-null   object
 13  s56     0 non-null      float64
 14  s57     0 non-null      float64
 15  s58     28322 non-null  object
 16  s59     0 non-null      float64
 17  s69     28322 non-null  object
 18  s70     28322 non-null  object
 19  s71     28322 non-null  object
 20  n1      28322 non-null  float64
 21  n2      28322 non-null  float64
 22  n3      28322 non-null  int64
 23  n4      28322 non-null  float64
 24  n5      28322 non-null  float64
 25  n6      28322 non-null  float64
 26  n7      28322 non-null  float64
 27  n8      28322 non-null  float64
 28  n9      28322 non-null  float64
 29  n10     28322 non-null  float64
 30  n11     28322 non-null  float64
 31  n12     28322 non-null  int64
 32  n13     28322 non-null  int64
 33  n14     28322 non-null  float64
 34  n15     28322 non-null  int64
 35  label   28322 non-null  int64
dtypes: float64(14), int64(7), object(15)
memory usage: 7.8+ MB

Viewing all the counts of each unique value in each column

In [26]:
column_names = df.columns

for column in column_names:
    print(df[column].value_counts())
    print("\n************\n")

b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76be71PWA2ReUc4HUQn16Fya1z8_VStNnFGaXJF262CgsuMPzOaknSeg=='    1
b'gAAAAABinOiekMHaC6-03yzvmLFVBfqljUIev5XFrbbJarEbo-mshNj5pWAXfTdmvEMQtb0WjtlboHt2rFBrCoipjAn9sOOZEg=='    1
b'gAAAAABinOiYtx-HpOZBYTtT-FndzIj6Nt2HTKu7UKAs-Dfxd8mxrvwxRNGE47Si_-kc5TiwVkTf59u94658aAU7gHD9-TGBMQ=='    1
b'gAAAAABinOia961WRLsDIRdEcGr5_RSKfmTjQ2ME5HBpIUtBdjJUeCTgVI6uzDIdnDRB58VBUvirHgdTdjgECltfpZ2XequVmA=='    1
b'gAAAAABinOibb7LcG8T4rQSnzf-b2GjK5D0F1ZLe6VMES-x90Pi5-Emk_dbp7xYXuepQpmVa_rhfEsemOUZUGn9_30mt-Vr8iQ=='    1
                                                                                                          ..
b'gAAAAABinOiawRN0qVxqLZn-_t1Qb87hktzzZnsBU00aUINCq1S48jnwhwxdn5XNd6mR189SFIILrWFbz0_LyBAvIlgUCImvqw=='    1
b'gAAAAABinOiZPy87pVtsRScbROxYGDhSan3Pp9q53S8zvzjZWJIhBd_PGqGRWUhxCwbTpmkda93liZMesGSchyhojqcCkJUD2w=='    1
b'gAAAAABinOib5XtfV1CgG7sJ3lqWVyVEX63543B09-SgMzYFlBkQuLmoEYkpfdNT1_v2JR0feyWOaSlNB_HLd2WSNncMF_Pu8Q=='    1
b'gAAAAABinOiZOg76iQugWQ0dURCMJr7Nx3cTy_md3x5d_mu6pyHpZxvB7YRGuIJYS4HTORYG4Er_fc44aKaCmcxcMvAl3EsFUA=='    1
b'gAAAAABinOiZ3mCQAtoJFXj-Ymjhi9FbbZ_Ypi5gDoAEYe1Cx66GhkhZ5UIJNLcPlgrRyfpabvIwD5ok1GxipWfkujjwXyMMBw=='    1
Name: id, Length: 28322, dtype: int64

************

M    20396
F     7926
Name: gender, dtype: int64

************

Y    25112
N     3210
Name: s11, dtype: int64

************

Y    24227
N     4095
Name: s12, dtype: int64

************

1    27844
0      478
Name: s13, dtype: int64

************

D    21028
B     6446
C      540
A      308
Name: s16, dtype: int64

************

D    24013
B     2175
C     1985
A      149
Name: s17, dtype: int64

************

B    25010
D     1612
C     1607
A       93
Name: s18, dtype: int64

************

0    16049
1    12273
Name: s48, dtype: int64

************

1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64

************

      25752
       2570
Name: s53, dtype: int64

************

2b    316
b2    314
a2    314
22    310
ab    297
2a    291
ba    287
bb    260
aa    239
Name: s54, dtype: int64

************

2k    405
2K    400
k2    364
K2    359
22    345
Kk    345
KK    343
kk    330
kK    315
Name: s55, dtype: int64

************

Series([], Name: s56, dtype: int64)

************

Series([], Name: s57, dtype: int64)

************

B    25760
A     2562
Name: s58, dtype: int64

************

Series([], Name: s59, dtype: int64)

************

x     21028
~1     6446
C`      540
0       308
Name: s69, dtype: int64

************

op: D    24013
op: B     2175
op: C     1985
op: A      149
Name: s70, dtype: int64

************

b    25010
d     1612
c     1607
a       93
Name: s71, dtype: int64

************

2.943602     2
15.181258    1
12.436538    1
17.778950    1
6.446166     1
            ..
6.549431     1
10.419892    1
16.313220    1
7.502172     1
7.058107     1
Name: n1, Length: 28321, dtype: int64

************

0.517754    2
1.197314    2
2.772188    1
1.523550    1
2.461341    1
           ..
1.088225    1
1.996014    1
2.130200    1
1.149892    1
1.023172    1
Name: n2, Length: 28320, dtype: int64

************

3    9681
6    6802
7    3186
8    2652
2    2433
4    1178
9    1159
1     733
5     395
0     103
Name: n3, dtype: int64

************

6.033573    2
2.318385    1
2.234690    1
2.815999    1
2.096557    1
           ..
8.000033    1
6.100405    1
6.806441    1
8.090732    1
5.942025    1
Name: n4, Length: 28321, dtype: int64

************

-32.575722    2
-32.393333    2
-32.576721    2
-32.643876    2
-32.394758    2
             ..
-32.396476    1
-32.574532    1
-32.933614    1
-32.348920    1
-32.848897    1
Name: n5, Length: 28290, dtype: int64

************

0.029417    2
0.017311    2
0.017657    2
0.015602    2
0.018414    2
           ..
0.021696    1
0.013939    1
0.018134    1
0.017047    1
0.015928    1
Name: n6, Length: 28299, dtype: int64

************

-9.050681    2
-9.144623    2
-9.126056    1
-9.300590    1
-9.272447    1
            ..
-9.277263    1
-8.985370    1
-8.865893    1
-9.058843    1
-9.280950    1
Name: n7, Length: 28320, dtype: int64

************

1.472391    2
1.732291    1
1.762606    1
2.158777    1
1.535193    1
           ..
1.502255    1
1.528658    1
1.626512    1
1.521314    1
1.490478    1
Name: n8, Length: 28321, dtype: int64

************

3.653427    2
3.698504    1
6.929351    1
3.885346    1
3.232266    1
           ..
3.894423    1
6.200716    1
7.188201    1
3.658280    1
3.569598    1
Name: n9, Length: 28321, dtype: int64

************

6.106579     2
4.814525     2
11.431255    2
5.704187     1
4.709167     1
            ..
11.200575    1
7.764208     1
4.721390     1
11.751226    1
4.584967     1
Name: n10, Length: 28319, dtype: int64

************

1.549197    2
1.544484    1
1.797979    1
1.825730    1
1.870762    1
           ..
1.710158    1
1.623187    1
1.618368    1
1.694899    1
1.777995    1
Name: n11, Length: 28321, dtype: int64

************

0    28039
1      283
Name: n12, dtype: int64

************

0    25787
1     2535
Name: n13, dtype: int64

************

0.631220    1
0.522364    1
0.338893    1
0.792103    1
0.459361    1
           ..
0.839650    1
0.678318    1
0.061289    1
0.589074    1
0.435079    1
Name: n14, Length: 28322, dtype: int64

************

0    4145
5    4100
6    4049
4    4021
2    4013
3    4002
1    3992
Name: n15, dtype: int64

************

0    23562
1     4760
Name: label, dtype: int64

************

Identify any columns having null values

In [27]:
null_df = df.isnull().sum().to_frame()
null_df.loc[null_df[0]!=0]

         0
s54  25694
s55  25116
s56  28322
s57  28322
s59  28322

### Identify and drop columns mostly null values 
As columns having more than 70% missing values should have no significant effect on the target column

In [28]:
majority_null = ['s59','s57','s56','s55','s54']
df.drop(majority_null, axis = 1, inplace= True)

### Encoding

Label encoding for binary categorical data. (Only two options eg: M/F, Y/N). Identified from column value counts. Done using scikit.learn library.

In [29]:
# Creating instance of label encoder from scikit.learn
label_encoder = preprocessing.LabelEncoder()

# columns to encode
label_encode = ['gender','s11','s12','s53','s58']

# use encoder on each of the selected columns
for column in label_encode:
    df[column] = label_encoder.fit_transform(df[column])

Use one-hot encoding instead of label encoding for non-binary categories, as it is unclear whether data is ordinal or not, to avoid unintentional ranking and therfore bias. Done using get_dummies from pandas library

In [30]:
# columns to encode
one_hot_encode = ['s16','s17','s18','s69','s70','s71']

# create dummy columns for each possible value 
# in each of the columns 
# (auto prefixed with original column name)
ohe_df = pd.get_dummies(df[one_hot_encode])

# Drop each of the original columns in the original dataframe 
# as they are now encoded
df = df.drop(columns=one_hot_encode, axis = 1)

# Join the dataframe with the encoded columns 
# to the original dataframe
df = df.join(ohe_df)

In [1]:
replacement_mapping_dict = {
    "l": "1",
    "o": "0"
}
df['s52'] = df['s52'].apply(lambda x: x.replace(replacement_mapping_dict, regex=True))

NameError: name 'df' is not defined

In [45]:
# you can do multiple replacements in within one call of the replace method by creating a mapping dictionary
# very scalable woo

df['s52'].value_counts()

1    27032
0     1290
Name: s52, dtype: int64

### Look at the encoded categorical data

In [ ]:
column_names = df.columns

for column in column_names:
    print(df[column].value_counts())
    print("\n************\n")